.container {
  border: 6px solid lightgray;
  display: flex;
  height: 800px;
  flex-direction: column-reverse;
  align-items: baseline;
}

.flex-item {
  color: black;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.item-1 {
  background-color: lightblue;
  padding-bottom: 13rem;
}
.item-2 {
  background-color: lightyellow;
}

.item-3 {
  background-color: lightpink;
}
.item-4 {
  background-color: lightgreen;
}

.item-5 {
  background-color: lightgray;
}

.item-6 {
  background-color: lightskyblue;
}
